{% load static %}
<!-- Slider main container -->
<div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
	  <!-- Slides -->
	  <div class="swiper-slide"><span>Slide 1</span></div>
	  <div class="swiper-slide"><span>Slide 2</span></div>
	  <div class="swiper-slide"><span>Slide 3</span></div>

	</div>
	<!-- If we need pagination -->
	<!-- <div class="swiper-pagination"></div> -->
  
	<!-- If we need navigation buttons -->
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
  
	<!-- If we need scrollbar -->
	<!-- <div class="swiper-scrollbar"></div> -->
</div>
<script defer>
	const swiper = new Swiper('.swiper', {
		// Optional parameters

		// If we need pagination
		pagination: {
		  el: '.swiper-pagination',
		},
		loop:true,
	  
		// Navigation arrows
		navigation: {
		  nextEl: '.swiper-button-next',
		  prevEl: '.swiper-button-prev',
		},
	  
		// And if we need scrollbar
		scrollbar: {
		  el: '.swiper-scrollbar',
		},
	  });
</script>